{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div id="app">
      <noscript>
        <p>Welcome back, {{ user.first_name }}</p>

        <p>
          This application requires JavaScript to be enabled. Please enable
          JavaScript and try again.
        </p>
      </noscript>
    </div>

    <a class="btn btn-outline-secondary" href="{% url "logout" %}">
      Log out
    </a>
  {% else %}
    <div class="d-f flex-column align-items-center text-center">
      <h1 class="title">Gate Marches</h1>
      <h2 class="subtitle">EXP tracker</h2>

      <a class="btn btn-primary mt-3 mb-1"
         href="{% url "social:begin" "google-oauth2" %}">
        Sign in
      </a>
    </div>
  {% endif %}
{% endblock %}
