// This speciaal grid class is used for the 8 banners per column in the banner
// display for the 20th level
.col-sm-1-5 {
  @include media-breakpoint-up(sm) {
    @include make-col(1, 8);
  }
}

.level-20-padding {
  @include media-breakpoint-up(md) {
    padding-left: calc(35vw - 13rem);
    padding-right: calc(35vw - 13rem);
  }

  @include media-breakpoint-up(lg) {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

.banner {
  background: none;
  border: 0;
  padding: 0 0.5rem;
  position: relative;

  &:focus {
    outline: none;
  }

  &__background {
    display: block;
    height: auto;
    width: 100%;
    overflow: visible;

    .outline {
      fill: rgba($white, 0);
      stroke-width: 1.4px;
      transition: fill 150ms ease, stroke 150ms ease;
      vector-effect: non-scaling-stroke;
    }
  }

  &--can-afford:not(.banner--filled) {
    .banner__background .outline {
      animation: highlight 1200ms ease-in-out infinite alternate;
    }
  }

  &--filled {
    color: $gray-300;

    .banner__background .outline {
      fill: $gray-600;
      stroke: $gray-700;
    }
  }

  &__stars {
    height: 78%;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &--1 {
      .banner__star:nth-child(1) {
        top: 50%;
        left: 50%;
      }
    }

    &--2 {
      .banner__star:nth-child(1) {
        top: 35%;
        left: 50%;
      }

      .banner__star:nth-child(2) {
        top: 65%;
        left: 50%;
      }
    }

    &--3 {
      .banner__star:nth-child(1) {
        top: 25%;
        left: 50%;
      }

      .banner__star:nth-child(2) {
        top: 50%;
        left: 50%;
      }

      .banner__star:nth-child(3) {
        top: 75%;
        left: 50%;
      }
    }

    &--4 {
      .banner__star:nth-child(1) {
        top: 35%;
        left: 35%;
      }

      .banner__star:nth-child(2) {
        top: 35%;
        left: 65%;
      }

      .banner__star:nth-child(3) {
        top: 65%;
        left: 35%;
      }

      .banner__star:nth-child(4) {
        top: 65%;
        left: 65%;
      }
    }

    &--5 {
      .banner__star:nth-child(1) {
        top: 28%;
        left: 35%;
      }

      .banner__star:nth-child(2) {
        top: 28%;
        left: 65%;
      }

      .banner__star:nth-child(3) {
        top: 50%;
        left: 50%;
      }

      .banner__star:nth-child(4) {
        top: 72%;
        left: 35%;
      }

      .banner__star:nth-child(5) {
        top: 72%;
        left: 65%;
      }
    }

    &--6 {
      .banner__star:nth-child(1) {
        top: 25%;
        left: 35%;
      }

      .banner__star:nth-child(2) {
        top: 25%;
        left: 65%;
      }

      .banner__star:nth-child(3) {
        top: 50%;
        left: 35%;
      }

      .banner__star:nth-child(4) {
        top: 50%;
        left: 65%;
      }

      .banner__star:nth-child(5) {
        top: 75%;
        left: 35%;
      }

      .banner__star:nth-child(6) {
        top: 75%;
        left: 65%;
      }
    }
  }

  &__star {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

$highlight-color: scale-color($mark-bg, $lightness: 60%);
@keyframes highlight {
  0% {
    fill: rgba($highlight-color, 0.2);
  }

  100% {
    fill: rgba($highlight-color, 1);
  }
}
