html,
body {
  height: 100%;
}

.page-card {
  @include make-container-max-widths();

  background: $white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  padding: 2rem;
  margin: 2rem;
}

.subtitle {
  color: $gray-700;
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
}

.wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100%;
}
