html,
body {
  height: 100%;
}

// This is used for the 8 banners per column in the banner display for the 20th
// level
.col-md-1-5 {
  @include media-breakpoint-up(md) {
    @include make-col(1, 8);
  }
}

.page-card {
  @include make-container-max-widths();

  background: $white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  padding: 2rem;
  margin: 2rem 2rem 1rem 2rem;
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

// The little banner that links to the GitHub repo
.repo-link {
  margin-bottom: 2rem;
  opacity: 1;
  transition: opacity 150ms ease-in-out;

  @include hover-focus {
    opacity: 0.8;
  }

  img {
    display: block;
    width: 1.5rem;
  }
}

.subtitle {
  color: $gray-700;
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
}
