html,
body {
  height: 100%;
}

.page-card {
  background: $white;
  box-shadow: $box-shadow-sm;
  max-width: map-get($container-max-widths, lg);
  margin-bottom: 1rem;
  padding: 2rem;

  @include media-breakpoint-up(sm) {
    border-radius: $border-radius-sm;
    margin: 2rem 2rem 1rem 2rem;
  }
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

// The little banner that links to the GitHub repo
.repo-link {
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 150ms ease-in-out;

  @include hover-focus {
    opacity: 0.8;
  }

  img {
    display: block;
    width: 1.5rem;
  }
}

.scrollable-dropdown {
  max-height: 20rem;
  overflow: auto;
  min-width: 16rem;

  &.large {
    max-height: 25rem;
    min-width: unset;

    @include media-breakpoint-down(xs) {
      left: -1.1rem !important;
      right: -4rem !important;
    }
  }
}

// This combined with the above makes the 'Add stars' dropdown fill up almost
// the entire screen's width on small screens instead of being anchored to the
// button
.scrollable-dropdown-button {
  @include media-breakpoint-down(sm) {
    position: static;
  }
}

.subtitle {
  color: $gray-700;
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
}
