.instant-fade-enter-active {
  transition: opacity ease-out 300ms;
}

.instant-fade-leave-active {
  transition: opacity ease-in 15ms;
}

.instant-fade-enter {
  opacity: 0;
}

// This fade is mostly to have a little bit of time to load all the banners
.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: opacity ease-out 69ms;
}

.fast-fade-enter,
.fast-fade-leave-to {
  opacity: 0;
}
