.instant-fade-enter-active {
  transition: opacity ease-out 300ms;
}

.instant-fade-leave-active {
  transition: opacity ease-in 15ms;
}

.instant-fade-enter {
  opacity: 0;
}

.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: opacity ease-out 42ms;
}

.fast-fade-enter,
.fast-fade-leave-to {
  opacity: 0;
}
