// TODO: Add a webfont instead of Bootstrap's default for consistency

// Equivalent to $gray-200
$body-bg: #e9ecef;

@import "~bootstrap/scss/bootstrap";

@import 'page';
@import 'transitions';

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}
