@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Equivalent to $gray-200
$body-bg: #e9ecef;

// Opacity is used to show that a button is disabled, but opacity is not part of
// the default list of transitioned properties
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
  opacity 0.15s ease-in-out;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";
@import "fonts/style";

@import "banners";
@import "page";
@import "transitions";

ul:last-child,
ol:last-child,
p:last-child,
.card-deck .card:last-child {
  margin-bottom: 0;
}
