{% load static %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Gate Marches character tracker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="An experience tracker for the Gate Marches campaign.">
    <meta property="og:image" content="{% static "og.png" %}">

    <link rel="stylesheet" href="{% static "dist/app.css" %}" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <meta name="apple-mobile-web-app-title" content="Gate Marches">
    <meta name="application-name" content="Gate Marches">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static "browserconfig.xml" %}">
    <meta name="theme-color" content="#f8f9fa">
  </head>
  <body>
    {% block body %}
      <div class="page-wrapper">
        <main class="page-card">
          {% block content %}
          {% endblock %}
        </main>

        <a href="https://github.com/robbert-vdh/dungeonesis-tracker"
           class="repo-link" target="_blank"
           title="View source code">
          <img src="{% static "dist/images/github.svg" %}" alt="GitHub repo">
        </a>
      </div>
    {% endblock %}

    <script type="text/javascript" src="{% static "dist/bundle.js" %}"></script>
  </body>
</html>
